:root { 
--blue_400_63:#379fff63; 
--white_A700_4c:#ffffff4c; 
--white_A700_a2:#ffffffa2; 
--gray_900:#171726; 
--black_900_3f:#0000003f; 
--bluegray_900:#2a2d3e; 
--white_A700_33:#ffffff33; 
--white_A700_99:#ffffff99; 
--teal_300:#4bccbc; 
--bluegray_800:#2d3b51; 
--white_A700_75:#ffffff75; 
--light_blue_A200_19:#43bbff19; 
--blue_400:#379fff; 
--white_A700:#ffffff; 
--bluegray_901:#212334; 
}